@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.deco-gallery {
    display: flex;

    @include mobile-l-styles {
        flex-wrap: wrap;
    }

    .img-box {
        flex-basis: 25%;

        &:nth-of-type(1) {
            animation-delay: 0s;
        }

        &:nth-of-type(2) {
            animation-delay: 500ms;
        }

        &:nth-of-type(3) {
            animation-delay: 1000ms;
        }

        &:nth-of-type(4) {
            animation-delay: 1500ms;
        }

        @include mobile-l-styles {
            flex-basis: 50%;
        }
    }
}


@keyframes bounce-in-top {
    0% {
        transform: translateY(-300px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}