@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.testimonials {
    padding: 10rem 10.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-base-tertiary;

    @include laptop-custom-styles {
        padding: 10rem 7rem;
    }

    @include tablet-styles {
        padding: 7rem;
    }

    @include mobile-l-styles {
        padding: 4rem 1.5rem 5.375rem;
    }

    h2 {
        font-size: $font-size-headidng-small;
        font-family: $font-family-secondary;
        letter-spacing: 5px;
        color: $color-neutral-secondary;
        text-transform: uppercase;
        margin-bottom: 4.85rem;
        text-align: center;

        &.hidden {
            transform: translateY(-300%);
        }

        @include mobile-l-styles {
            font-size: $font-size-headidng-smaller;
            letter-spacing: 4px;
        }
    }

    .testimonials__container {
        display: flex;
        gap: 1.875rem;
        align-items: baseline;

        @include tablet-styles {
            flex-direction: column;
            gap: 4rem;
        }

        .testimonial-card {
            flex-basis: 33.33%;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include tablet-styles {
                flex-basis: 100%;
            }

            &.hidden {
                scale: 0;
            }

            .testimonial-img {
                width: 72px;
                height: 72px;
                margin-bottom: 3.625rem;

                @include tablet-styles {
                    margin-bottom: 2rem;
                }

                img {
                    border-radius: 100ch;
                }
            }

            .testimonial-textbox {
                font-size: $font-size-base;
                line-height: 32px;
                color: $color-neutral-tertiary;
                margin-bottom: 4.313rem;

                @include tablet-styles {
                    margin-bottom: 2rem;

                }
            }

            .testimonial-author {
                h3 {
                    font-size: $font-size-base;
                    font-family: $font-family-secondary;
                    font-weight: $font-weight-black;
                    color: $color-base;
                    margin-bottom: 0.375rem;
                }

                span {
                    font-size: $font-size-smaller;
                    color: $color-neutral-secondary;
                    line-height: 25px;
                }
            }
        }
    }
}